html,
body {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

#entradaTarefa {
    padding: 8px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#botaoAdicionarTarefa {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: green;
}

#botaoAdicionarTarefa:hover {
    background-color: darkgreen;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li.concluida {
    text-decoration: line-through;
    color: red;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.remove-btn {
    background-color: blue;
    color: white;
}

.remove-btn:hover {
    background-color: darkblue;
}

.btn {
    background-color: green;
    color: white;
}

.btn-texto {
    color: white;
}

.remove-btn, .btn {
    transition: background-color 0.3s ease;
}
